.flickr-img {
	float: left;
	width: 100px;
	text-align: center;
	height: 130px;
	margin: 0px 5px;
	margin-bottom: 10px;
}

#wfm-browse-content {
	overflow: auto;
	min-height: 280px;
	height: auto !important;
	height: 280px;
	width: 550px;
	margin: 0px auto;
}

#wfm-dashboard {
	height: 130px;
}

#wfm-scope-block {
	float: right;
	vertical-align: middle;
	margin: 1em 0;
}

#wfm-dashboard label, #wfm-close-block label {
	display: inline;
}

#wfm-navigation {
	text-align: center;
	vertical-align: middle;
}

#wfm-uploader {
	border: 0px;
	width: 600px;
	height: 350px;
	overflow: hidden;
}

#wfm-set-block {
	margin: .5em 0;
}

.hide { display: none !important; }

.center { text-align: center; }

.left { float: left; }
.right { float: right; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display:inline-block; } /*this trips hasLayout for ie7*/
.clearfix { display:block; }

div.sizePicker ul {
	padding: 0px;	
}

div.sizePicker ul li {
	padding: 5px;
	margin: 0px;
}

div.sizePicker ul li:hover {
	background: #ffccaa;
	font-weight: bold;	
}

div.sizePicker a.closeLink {
	float: right;
	display: block;
	border: 1px solid #ccc;
	width: 12px;
	height: 12px;
	text-align: center;
	line-height: 10px;
	text-decoration: none;
	color: #000;
	font-weight: bold;
	margin-top: -1px;
	margin-right: -1px;
	background: #fff;
}

fieldset.jsViewer {
	float: right;
	width: 250px;
	padding: 10px;
	border: 1px solid #ccc;
	text-align: center;
}
